#  RUNTIME VARIABLES
EXPO_PUBLIC_NODE_ENV=preview
EXPO_PUBLIC_HOT_UPDATER_URL=
NODE_ENV=production



#  BUILDTIME VARIABLES
# These remain unchanged as they are used in build-time scripts
HOT_UPDATER_CLOUDFLARE_API_TOKEN=
HOT_UPDATER_CLOUDFLARE_ACCOUNT_ID=
HOT_UPDATER_CLOUDFLARE_R2_BUCKET_NAME=
HOT_UPDATER_CLOUDFLARE_D1_DATABASE_ID=

BASE_URL=https://gym-api-dev.onrender.com/api